@{
    ViewData["Title"] = "Sipariş Oluşturuldu";
}

<div class="container contact-container" style="margin-bottom:300px;margin-top:50px;">
    <h2 class="mt-5 mb-5" style="text-align:center;">Siparişiniz başarıyla oluşturuldu!</h2>
    <br />
    <hr />
    <div class="col mb-5 mt-5">
        <div style="text-align:center">
            <a asp-controller="Products" asp-action="GetProducts" class="btn btn-success">Alışverişe Devam Et</a>
        </div>
    </div>
</div>
