@{
    ViewData["Title"] = "Kategori Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles {
    <style>


        h2 {
            margin-bottom: 20px;
        }

        #createCategory {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: 0 auto;
        }

            #createCategory div {
                margin-bottom: 20px;
            }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        textarea {
            height: 100px;
        }

        #createCategory button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

            #createCategory button[type="submit"]:hover {
                background-color: #0056b3;
            }
    </style>
}

<div class="container" style="margin-bottom:150px;margin-top:50px;">
    <form method="post" asp-controller="Categories" asp-action="CreateCategory" id="createCategory" enctype="multipart/form-data">
        <div>
            <label for="name">Kategori</label>
            <input type="text" id="name" name="Name" required>
        </div>
        <div style="text-align:center">
            <button type="submit">Oluştur</button>
        </div>
    </form>
</div>